body{
    position: relative;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: #F3F5FC;
  }

  h1 {
    font-size: 2.5rem;
    color: #0A3871;
    font-weight: bold;
    text-align: center;
    margin-bottom: .2em;
    margin-top: 3em;
  }

  .menuInicial {
    margin-top: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

  #btnIniciar {
    display: flex;
    padding: 24px;
    
    width: 175px;
    height: 90px;
    
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
  }

  #receptor {
    display: none;
  }

  .tabuleiro {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
  }

  @media screen and (max-width: 500px) {
  body {
    flex-flow: column wrap;
    }

  h1 {
    font-size: 2.5rem;
    max-width: 400px;
   }

  #btnIniciar {
    width: 155px;
    height: 80px;
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
  }
  }